<section class="hero">
  <div class="swiper hero-section__items swiper-no-swiping">
    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <div class="hero__slide">
          <div class="container hero__container">
            <div class="hero__content">
              <h1 class="main-title main-title--home">Create<span>x</span> Construction</h1>
              <p class="main-descr main-descr--home">
                Cras ultrices leo vitae non viverra. Fringilla nisi quisque consequat, dignissim vitae proin ipsum sed.
                Pellentesque nec turpis purus eget pellentesque integer ipsum elementum felis.
              </p>
              <div class="hero__btns">
                <button class="btn-reset btn btn--stroke btn--stroke-light">Learn more about us</button>
                <button class="btn-reset btn btn--fill">Submit Request</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="hero__slide">
          <div class="container hero__container">
            <div class="hero__content">
              <h1 class="main-title main-title--home">Create<span>xx</span> Construction</h1>
              <p class="main-descr main-descr--home">
                Cras ultrices leo vitae non viverra. Fringilla nisi quisque consequat, dignissim vitae proin ipsum sed.
                Pellentesque nec turpis purus eget pellentesque integer ipsum elementum felis.
              </p>
              <div class="hero__btns">
                <button class="btn-reset btn btn--stroke btn--stroke-light">Learn more about us</button>
                <button class="btn-reset btn btn--fill">Submit Request</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

  <div class="hero__slider-nav">
    <button class="btn-reset slider-nav__btn hero-slider-nav__btn hero__prev slider-btn">
      <svg>
        <use xlink:href="img/sprite.svg#left-arrow"></use>
      </svg>
    </button>
    <button class="btn-reset slider-nav__btn hero-slider-nav__btn hero__next slider-btn">
      <svg>
        <use xlink:href="img/sprite.svg#right-arrow"></use>
      </svg>
    </button>
  </div>
  <ul class="list-reset hero-pagination">
    <li class="hero-pagination__item">01</li>
    <li class="hero-pagination__item">02</li>
    <li class="hero-pagination__item">03</li>
    <li class="hero-pagination__item">04</li>
  </ul>
</section>
